app.baseURL = 'http://localhost:8080/'
database.default.hostname = localhost
database.default.database = lms
database.default.username = lms_user
database.default.password = secret
database.default.DBDriver = MySQLi
JWT_SECRET = changeme
